extends default

block content
  main.container(role="main")
    div.row(style="padding-top:20px")
      div.col-md-1
      div.col-md-10
        h1 #{title}
        include includes/outcoming-relations.pug
        include includes/incoming-relations.pug